html{
  background: url(back3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
body
{
  height: 100vw;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.first
{
  position: relative;
  width:100%;
  height:55%;
  background-color: blue;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  left:0;
  right:0;
}
.top
{
  position: absolute;
  height:100%;
  width: 20%;
  right:5%;
  background-color: red;
}
.intro
{
  position: absolute;
  height: 100%;
  width:60%;
  right:30%;
  left:10%;
  background-color: green;
  top:0;
}
.topa
{
  position: absolute;
  width:100%;
  height: 40%;
  top:20%;
  background-color: yellow;
}
.topb
{
  position: absolute;
  width: 100%;
  height: 20%;
  top:60%;
  background-color: blue;
}
.top1
{
  position: absolute;
  width: 100%;
  height: 100%;
}
.top2
{
  text-align: center;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 4vw;
}
.introa
{
  position: absolute;
  height: 80%;
  width: 100%;
  top:20%;
  background-color: red;
}
.intro1
{
  text-align: center;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 3vw;
}
.cv
{
  position: relative;
  width:100%;
  height:170%;
  background-color: white;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  left:0;
  right: 0;
}
.skills
{
  position: relative;
  width:100%;
  height:80%;
  background-color: red;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  left:0;
  right: 0;
}
.last
{
  position: relative;
  width:100%;
  height:10%;
  background-color: gray;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  left:0;
  right: 0;
}
.cvleft
{
  position: absolute;
  display: inline-block;
  left:0;
  width: 43.8%;
  height:100%;
  color: black;
  vertical-align: top;
  padding: 2%;
  padding-right: 2%;
  padding-left: 4%;
  background-color: violet;
}
.vl
{
  position: absolute;
  display: inline-block;
  width: 0.1%;
  height: 80%;
  left:49.8%;
  padding: 0;
  padding-top: 10%;
  padding-bottom: 10%;
  margin: 0;
  padding-top: 2% ;
  padding-bottom: 2%;
  color: black;
  vertical-align: top;
  border-left-style: solid;
  border-left-color: black;
  border-left-width: 0.1%;
  background-color: yellow;
}
.cvright
{
  position: absolute;
  display: inline-block;
  right:0;
  height:100%;
  width: 44%;
  color:black;
  vertical-align: top;
  padding: 2%;
  padding-left:2%;
  padding-right: 4%;
  background-color: blue;
}
.h2l
{
  font-size:3rem;
  font-family:Lucida Handwriting, fantasy;
  color:black;
  text-align: right;
  line-height: 4rem;
}
.h2r
{
  font-size:3rem;
  font-family:Lucida Handwriting, fantasy;
  color:black;
  line-height: 4rem;
}
.subhleft
{
  font-size:1.5rem;
  font-family:Lucida Handwriting, fantasy;
  color:black;
  text-align: right;
  font-weight: bold;
  line-height: 2rem;
}
.subhright
{
  font-size:1.5rem;
  font-family:Lucida Handwriting, fantasy;
  color:black;
  font-weight: bold;
  line-height: 2rem;
}
.l1l
{
  font-size: 1rem;
  font-family:Lucida Handwriting, fantasy;
  color:darkslategray;
  font-style: italic;
  text-align: right;
  line-height: 2rem;
}
.l1r
{
  font-size: 1rem;
  font-family:Lucida Handwriting, fantasy;
  color: darkslategray;
  font-style: italic;
  line-height: 2rem;
}
.l2l
{
  font-size: 1rem;
  font-family:Lucida Handwriting, fantasy;
  color: black;
  font-weight: bold;
  text-align: right;
  line-height: 2rem;
}
.l2r
{
  font-size: 1rem;
  font-family:Lucida Handwriting, fantasy;
  color: black;
  font-weight: bold;
  line-height: 2rem;
}
.skills1
{
  position: absolute;
  display: inline-block;
  left:0;
  height: 100%;
  width: 40%;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: blue;
}
.skills2
{
  position: absolute;
  display: inline-block;
  left:50%;
  height: 100%;
  width: 40%;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: yellow;
}
.h2s
{
  font-size: 3rem;
  font-family:Lucida Handwriting, fantasy;
  color:white;
  line-height: 4rem;
}
.s1
{
  display: inline-block;
  font-size: 1.5rem;
  font-family:Lucida Handwriting, fantasy;
  color: white;
  font-weight: bold;
  line-height: 2rem;
}
.s
{
  position: absolute;
  height: 40%;
  width: 60%;
  padding: 10px;
  margin-top: 2%;
  margin-left: 0;
  background-color: red;
}
.sa
{
  position: absolute;
  height: 10%;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: white;
  border-radius: 2rem;
}
.sb
{
  position: absolute;
  height: 10%;
  width: 40%;
  margin-left: 55%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: white;
  border-radius: 2rem;
}
.sc
{
  position: absolute;
  height: 10%;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30%;
  margin-bottom: 10%;
  background-color: white;
  border-radius: 2rem;
}
.sd
{
  position: absolute;
  height: 10%;
  width: 40%;
  margin-left: 55%;
  margin-right: 5%;
  margin-top: 30%;
  margin-bottom: 10%;
  background-color: white;
  border-radius: 2rem;
}
.se
{
  position: absolute;
  height: 10%;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50%;
  margin-bottom: 10%;
  background-color: white;
  border-radius: 2rem;
}
.ii
{
  font-size: 1.4rem;
  font-family:Lucida Handwriting, fantasy;
  color: black;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
}
.bar
{
  background: #353b48;
  display: block;
  height: 2px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #2187e7b3;
}
.bar span
{
  height: 2px;
  float: left;
  background: #2187e7;
}
.c
{
  width: 80%;
  animation: c 2s;
}
.java
{
  width: 70%;
  animation: java 2s;
}
.python
{
  width: 50%;
  animation: python 2s;

}
.htm
{
  width: 80%;
  animation: htm 2s;
}
.sql
{
  width: 60%;
  animation: sql 2s;
}
.aws
{
  width: 50%;
  animation: aws 2s;
}
.ds
{
  width: 60%;
  animation: ds 2s;
}
.oops
{
  width: 60%;
  animation: oops 2s;
}
.eng
{
  width: 60%;
  animation: eng 2s;
}
.hi
{
  width: 60%;
  animation: hi 2s;
}

@keyframes c
{
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 80%;
  }
}
@keyframes java
{
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 70%;
  }
}
@keyframes python
{
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 50%;
  }
}
@keyframes htm
{
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 80%;
  }
}
@keyframes sql
{
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 60%;
  }
}
@keyframes aws
{
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 50%;
  }
}
@keyframes ds
{
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 60%;
  }
}
@keyframes oops
{
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 60%;
  }
}
@keyframes eng
{
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 80%;
  }
}
@keyframes hi
{
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 60%;
  }
}
